# These python codes will get your basics right! Have Fun!

# Variables in Python

In [4]:
#Creating a List Variable
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry']
x,y,z = ice_cream

print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [6]:
# Camel case
testVariabe = 'Vanilla'

# Pascal case
TestVariable = 'vanilla'

# snake case
test_variable = "Vanilla"

In [7]:
x = 'Ice Cream'
y = 2
print(x,y)

Ice Cream 2

In [3]:
#multiple line comment
multiline = """
sadasdsad
asdasdas
adasd
"""
print (multiline)

sadasdsad
asdasdas
adasd

# Data Types

In [5]:
a = 'Hello World'
print(a[:6])

Hello

In [7]:
#Lists
ice_cream = ['Cookie Cream', 'Chocolate', 'Strawberry']
ice_cream.append('Salted Caramel')
ice_cream

['Cookie Cream', 'Chocolate', 'Strawberry', 'Salted Caramel']

In [9]:
ice_cream[0] = 'Butter Pecan'
ice_cream

['Butter Pecan', 'Chocolate', 'Strawberry', 'Salted Caramel']

In [11]:
nest_list = ['Vanilla', 3,['Scoops','Spoon'],True]
nest_list[2][1]

'Spoon'

In [12]:
#Tuple - in tuple, u cannot change or add an item
tuple_scoops = (1,2,3,4,2,2,1)
tuple_scoops.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
# Sets - in sets, it only consider the unique values
daily_logs = {1,2,3,4,21,2,2,1,9}
daily_logs

{1, 2, 3, 4, 9, 21}

In [30]:
# Now lets compare between two different sets
wife_daily_logs = {1,2,3,4,43,0,7,8}
wife_daily_logs

{0, 1, 2, 3, 4, 7, 8, 43}

In [31]:
print(daily_logs | wife_daily_logs)

{0, 1, 2, 3, 4, 7, 8, 9, 43, 21}

In [32]:
print(daily_logs & wife_daily_logs)

{1, 2, 3, 4}

In [33]:
print(daily_logs - wife_daily_logs)
print(wife_daily_logs - daily_logs)

{9, 21}
{0, 8, 43, 7}

In [34]:
#print outer of both sets
print(daily_logs ^ wife_daily_logs)

{0, 7, 8, 9, 43, 21}

In [36]:
#dictionaries
#key/value pair

dict_cream = {'name':'Amry Ansary', 'weekly intake':5, 'favourite ice creams': ['Vanilla','Chocolate']}
type(dict_cream)

dict

In [38]:
#this is how we call a dictionary (not using index)
dict_cream['name']

'Amry Ansary'

In [39]:
dict_cream['name'] = 'Amalina Amyrah'
print(dict_cream)

{'name': 'Amalina Amyrah', 'weekly intake': 5, 'favourite ice creams': ['Vanilla', 'Chocolate']}

In [41]:
dict_cream.update({'name': 'Amalina Amyrah', 'weekly intake': 5, 'weight': 300})
print(dict_cream)

{'name': 'Amalina Amyrah', 'weekly intake': 5, 'favourite ice creams': ['Vanilla', 'Chocolate'], 'weight': 300}

In [42]:
del dict_cream['weight']

In [43]:
print(dict_cream)

{'name': 'Amalina Amyrah', 'weekly intake': 5, 'favourite ice creams': ['Vanilla', 'Chocolate']}

# Logical Operator

In [46]:
#AND is logical operator
#> <. is comparison operator
('Vanilla' > 'Chocalate') and (50>10)

True

In [47]:
not(50>10)

False

In [48]:
scoops = [1,2,3,6,7]
wanted_scoops = 8

wanted_scoops not in scoops

True

# If-Elif-Else Statement

In [51]:
if (25<15) or (10>5) :
    print('It worked!')
    if (12<14):
        print('This nested if statement worked!')
elif 25<40:
    print('elif worked!')
else:
    print("It doesn't work...:")

It worked!
This nested if statement worked!

# For Loops

In [63]:
"""For loop is going to iterate over the entire sequence reqgardless of the condition, while loops is going to iterate over that 
sequence as long as the condition is met
"""

integers = [1,2,3,4,5]

for number in integers:
    print(number + number)

2
4
6
8
10

In [54]:
ice_cream_dict = {'name': 'Amry Ansary', 'weekly intake':5, 'favourite ice creams': ['MCC','Chocolate']}

for cream in ice_cream_dict.values():
    print(cream)

Amry Ansary
5
['MCC', 'Chocolate']

In [55]:
for keys, values in ice_cream_dict.items():
    print(keys, '->', values)

name -> Amry Ansary
weekly intake -> 5
favourite ice creams -> ['MCC', 'Chocolate']

# Nested For Loops

In [56]:
flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmellow']

In [59]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmellow
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmellow
Cookie Dough topped with Hot Fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmellow

# While Loops

In [67]:
number = 0
while (number<5):
    print(number)
    if number == 3:
        break
    number = number + 1
else:
    print('No longer < 5')d

0
1
2
3

In [ ]:
#infinite Loop
number = 0
while (number<5):
    print(number)
    if number == 3:
        continue
    number = number + 1
else:
    print('No longer < 5')

In [69]:
number = 0
while (number<5):
    number = number + 1
    
    if number == 3:
        continue
    print(number)
    
else:
    print('No longer < 5')

1
2
4
5
No longer < 5

# Functions

In [71]:
def first_function():
    print('We did it!')

In [72]:
first_function()

We did it!

In [73]:
def number_squared(number):
    print(number**2)

In [74]:
number_squared(5)

25

In [75]:
def number_squared_cust(number,power):
    print(number**power)

In [76]:
number_squared_cust(5,2)

25

In [77]:
#Arbitrary argument
args_tuple = (1,2,3,4)

def arbit_args(*number):
    print(number[0] * number[1])

In [78]:
arbit_args(*args_tuple)

2

In [ ]:
#keywords argument

In [79]:
def number_squared_cust(number,power):
    print(number**power)

In [80]:
number_squared_cust(power = 5, number = 2)

32

In [92]:
#arbitrary keyword arguments
def number_kwarg(**number):
    print('My number is: ' + number['integer'])

In [93]:
number_kwarg(integer = '2310')

My number is: 2310

# Converting Data Types

In [7]:
num_int = 2
num_str = '7'

In [11]:
num_str_conv = int(num_str)
type (num_str_conv)

int

In [16]:
num_sum = num_int + num_str_conv
num_sum

9

In [19]:
lists = [1,2,3,4,5,5,7,8,2]

In [20]:
set(lists)

{1, 2, 3, 4, 5, 7, 8}